body{
    background-color: black;
}
.app{
    width: 100%;
    display: block;
    margin: auto;
}
.header
{
    display: block;
    margin: auto;
    align-items: center;
    border:1px solid black;
    padding: 20px;
    font-size: xx-large;
    color: white;
    width: 30%;
}
.container
{
    display:block;
    margin: auto;
    /* border: 1px solid white; */
    color: aliceblue;
    height: 73%;
    width: 60%;
    overflow-y: scroll;
    padding-bottom: 50px;

border-style: solid;
border-width: 5px;
border-color: white;
border-radius: 5px;
} 

.container::-webkit-scrollbar{
    display: none;
} 
.message{
    display:flex;
    /* border:1px solid white; */
    margin: 8px;
    padding:8px;
    width: 50%;
    display: inline-block;
    word-wrap: break-word;
}

.mid{
text-align: center;
}

.send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 985px;
    width: 100%;
    bottom: 3%;

border-style: none solid solid solid;
border-width: 5px;
border-color: white;
}

#msg{
    margin-top: 15px;
    height: 28px;
    width: 85%;
    border: 2px solid black;
}

#submit{
    margin-top: 15px;
    cursor: pointer;
    border: 2px solid black;
    height: 28px;
    width: 5%;
}
