body{
    background-color: black;
}
.app{
    width: 100%;
    display: block;
    margin: auto;
}
.header
{
    display: block;
    margin: auto;
    align-items: center;
    border:1px solid black;
    padding: 20px;
    font-size: xx-large;
    color: white;
    width: 30%;
}
.container
{
    display:block;
    margin: auto;
    /* border: 1px solid white; */
    color: aliceblue;
    height: 73%;
    width: 60%;
    overflow-y: scroll;
    padding-bottom: 50px;

border-style: solid;
border-width: 5px;
border-color: white;
border-radius: 5px;
} 

.container::-webkit-scrollbar{
    display: none;
} 
.message{
    display:flex;
    /* border:1px solid white; */
    margin: 8px;
    padding:8px;
    width: 50%;
    display: inline-block;
    word-wrap: break-word;
}
.mid{
text-align: center;
}
.send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 985px;
    width: 100%;
    /* position: absolute; */
    bottom: 3%;

border-style: none solid solid solid;
border-width: 5px;
border-color: white;
border-radius: 5px;

}
#msg{
    width: 55%;
    border: 2px solid black;
    height: 28px;
}
#submit{
    cursor: pointer;
    border: 2px solid black;
    height: 25px;
    width: 50px;
}

.rainbow-text {
    background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
    background-size: 800% 800%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 8s ease infinite;
  }
  
  @keyframes rainbow { 
    0%{background-position:0% 50%}
    50%{background-position:100% 25%}
    100%{background-position:0% 50%}
  }
